body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    padding: 0px;
}
/* ------------------------
hero section styles starts
---------------------------  */
.hero{
    width: 1321px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    margin: auto;
    margin-bottom: 130px;
}

.hero-info{
    width: 50%;
    padding: 40px;
}

.hero-image{
    width: 80%;
    display: grid;
}
.hero-info h1{
    color: white;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}
.hero-info a i{
    margin-left: 10px;
}
.hero-info p{
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
}

.button{
    text-decoration: none;
    color: red;
    padding: 10px 20px;
    border: 3px solid red;
    border-radius: 30px;
    font-weight: 700;
}
/* -------------------------------
    info section styles  starts  
    ---------------------------------*/

.info{
        display: flex;
        width: 1320px;
        margin: auto ;
        margin-bottom: 130px;
}
aside{
        width: 312px;
        height: 312px;
        background-color: black   ;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 30px;
}
    
aside div{
        width: 252px;
        height: 64px;
        display: grid;
        background-color: white;
        border-radius: 10px;
        margin: 30px;
}
    
aside div a{
        color: black;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        margin: auto;
        line-height: 30px;
    
}


/*----------------------------
     blogs styles starts
     -------------------------  */
.blog{
    background-color: #DD0000;
}

.blog a{
    color: white;
}

.container{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.blogs{
    width: 312px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.blog-info{
    padding: 18px 20px;
}
.blog-info a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;
    border: 3px solid lightgrey;
    border-radius: 5px;
    padding: 5px 20px;
}

.blog-info h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    padding: 20px 0;
}

.blog-info span{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: grey
}

.time-comment{
    padding: 0 40px 0 5px;
}

/*----------------------
    footer styles starts
    -----------------------  */
footer{
    display: grid;
    height: 444px;
    background-color: #161616;
}
.footer-info{
    width: 1320px;
    text-align: center;
    margin: auto;
        
}
    
.footer-info h2{
    color: white;
    font-weight: 600;
    font-size: 40px;
}
    
hr{
    border: 1px solid whitesmoke;
    margin: 50px 0;
}
.footer-info ul li a{
    text-decoration: none;
    color: white;
    padding: 0 30px;
}

.social-icons a{
    text-decoration: none;
    color: white;
    padding: 0 30px;
    font-size: 30px;
}
    